/*SLIDER*/
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slider {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  transition: 0.25s;
}
.slider .slick-arrow:hover {
  opacity: 0.8;
}
.slider .slick-arrow.prev {
  left: 0;
}
.slider .slick-arrow.next {
  right: 0;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
}
.slider .slick-dots button {
  font-size: 0;
  width: 44px;
  height: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.slider .slick-dots li.slick-active button {
  background-color: #ffca00;
}
